* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: #282c34;
  color: white;
  font-family: sans-serif;
  text-align: center;
}
#theme-light {
  background: #fff;
  color: #333;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#theme-dark {
  background: #333;
  color: #fff;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#navbar {
  padding: 1rem;
  text-align: center;
}
#theme-toggle {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
}